<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block content %}
<style>
    .centered-form {
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
  
    .form-container {
      width: 250px; /* Adjust width as needed */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
    }

    .submit-button, .register-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
  }

  .submit-button:hover {
    background-color: #45a049;
  }

  .register-button {
    background-color: #007BFF;
  }

  .register-button:hover {
    background-color: #0056b3;
  }
  </style>
  
  <div class="centered-form">
    <div class="form-container">
      <h2>Ag Smart Drive</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Login</button>
      </form>
    
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      
    {% endif %}
    <a href="/register/" class="register-button">Register</a>
    </div>
  </div>
{% endblock %}