<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block content %}
<style>
    .centered-form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh; /* Adjust as needed */
    }
  
    .form-container {
      width: 250px; /* Adjust width as needed */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
    }

    .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .submit-button:hover {
    background-color: #45a049;
  }
  </style>
  
  <div class="centered-form">
    <div class="form-container">
      <h2>Ag Smart Drive</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Login</button>
      </form>
    </div>
  </div>
{% endblock %}